# --- INFRA ---
DOMAIN_NAME=XXXXXXXXXXXX
SSL_EMAIL=XXXXXXXX
GENERIC_TIMEZONE=Europe/Paris

# --- POSTGRESQL ---
POSTGRES_USER=XXXXXXXXXXXX
POSTGRES_PASSWORD=XXXXXXXXXXXX
POSTGRES_DB=XXXXXXXXXXXX
SCRAPE_DB_NAME=XXXXXXXXXXXX

# --- N8N TUNING (VPS < 4GB RAM) ---
N8N_DEFAULT_BINARY_DATA_MODE=filesystem
NODE_OPTIONS=--max-old-space-size=1536

# --- BACKUP (SCALEWAY / S3) ---
BACKUP_RCLONE_REMOTE=scaleway
BACKUP_RCLONE_BUCKET=mon-bucket-backups

# --- NOTIFICATIONS & MONITORING ---
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/XXXXXXXX